.chat-column  {
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
}

.messages {
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 86vh;
    padding-left: 1vw;
    padding-right: 1vw;

    scrollbar-width: thin;
    scrollbar-color: #f0c674 #252c41;
}


/* Сообщения */

.message {
    max-width: 60%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    
    color: #2e3549;
    position: relative;
    word-wrap: break-word;
}

.left {
    align-self: flex-start;
    border-top-left-radius: 0%;

    background-color: #cca452;
}


.right {
    align-self: flex-end;
    border-top-right-radius: 0%;
    background-color: #f0c674;

}

/* Поле для отправки сообщения*/
.message-form {
    flex: 1;
    display: flex;
    flex-direction: row;

    position: fixed;
    bottom: 2%;
    left: 2%;
    right: 2%;
    height: 2rem;

}

.message-form input {
    flex: 9;
    background-color: #252c41;
    
    font-size: 1rem;
    color: #f8f8f2;

    border-color: #f0c674;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-style: none;

}

.message-form input:focus {
    outline: #e0b866;
}

.message-form input::placeholder {
    color: #949490;
    opacity: 0.7;
}

.message-form button[type="submit"] {
    border-width: 1px;
    border-style: solid;
    border-color: #f0c674;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    font-size: 1.35rem;
}

@media (min-width: 1360px) {
    
    .chat-column  {
        display: flex;
        flex-flow: column;
        max-width: 100%;

    }
    
    main {
        max-width: 100%;
    }

    .right {
        align-self: flex-start;
        border-top-left-radius: 0%;
        border-top-right-radius: 1rem;

        background-color: #f0c674;
    
    }

}